/*Norma css strat */
body{
  margin:0;
}
/*Normal css end */

.image{
  padding:100px 0;
}

.container{
	overflow: hidden;
  width:960px;
  margin: 0 auto;
  border: 1px solid;
}

.image-item {
  margin-bottom: 4px;
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 0 3px;
}

.image-item img {
  width: 100%;
}
